// 居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 背景图居中
@mixin backgroundImage($image) {
  background-image: $image;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

// 文字省略
@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
