// 主题色
$theme-color: #3a0ce3;
$theme-hover-color: #613ce8;
$theme-press-color: #340acb;
$theme-disabled-color: #b09ef4;

// 字体样式
$--font-size: 16px;

$--page-gutter: 12px; // 页面核心间距
$--page-herder-height: 40px; // 页面头部高度
$--page-footer-height: 52px; // 页面底部栏高度
$--page-action-height: 44px; // 页面操作栏高度

$--menu-box-shadow: none !default;
